# Ignora todo menos config
/*
!.config/
!.local/bin/
!Proyectos/Gentoo/

!.gitignore

# Ignora esto dentro de config
*.db
*.log
.config/mpd/pid
.config/mpd/state
.config/mpv/log
.config/yazi/flavors/
.config/yazi/plugins/
.config/zsh/.zcompcache
.config/systemd/**
!.config/systemd/**/
!.config/systemd/user/mpdscribble.service
!.config/systemd/user/waypaperd*
.config/GIMP/
.config/Kid3/
.config/QtProject.conf
.config/zathura/zathura-theme
.config/Thunar/
.config/autostart/
.config/dconf/
.config/discord/
.config/fcitx/
.config/fcitx5/
.config/gtk-3.0/
.config/gtk-4.0/
.config/htop/
.config/keepassxc/
.config/mozc/
.config/mozilla/
.config/nicotine/
.config/obs-studio/
.config/pavucontrol.ini
.config/pulse/
.config/rncbc.org/
.config/transmission/
.config/xfce4/
.config/xsettingsd/
.config/mpdscribble/
.config/qalculate/
.config/procps/
.config/wget/
.config/calcure/
.config/ibus/
.config/calibre/
