# Controls
screen_up           <C-u>
screen_down         <C-d>

# Zoom settings
zoom_in             K
zoom_out            J

# Recolor / Dark Mode
toggle_custom_color i

goto_toc            <tab>
goto_window         gW

# fit
fit_to_page_width   A
fit_to_page_width_smart S

# Document Management
reload              <C-r>
goto_definition     gD
toggle_statusbar    <C-n>
close_window        q
